src/main/resources/timestamp.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://datetime.ru/timestamp"
           targetNamespace="http://datetime.ru/timestamp"
           elementFormDefault="qualified">

    <xs:element name="getTimeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="time" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTimeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="datetime" type="xs:dateTime" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>